@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px rgb(245, 177, 245)); /* Neon purple glow */
  }
}

.footprint {
  transition: opacity 0.5s ease-in-out; /* Smooth fading */
  opacity: 0; /* Start with invisible footprint */
}

.pulse {
  animation: pulse 2s infinite;
}

/* Add a class to show footprint when pulsing */
.pulse:hover + .footprint {
  opacity: 1; /* Show footprint on hover */
}